/.gradle
/.idea/*
!/.idea/codeStyles
!/.idea/encodings.xml
!/.idea/gradle.xml
!/.idea/inspectionProfiles
!/.idea/kotlinc.xml
!/.idea/misc.xml
!/.idea/runConfigurations
!/.idea/saveactions_settings.xml
!/.idea/vcs.xml
.DS_Store
build
out
